# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\local\js\EatChenWenXuan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
